@charset "UTF-8";

body{
  margin: 0px;
  padding: 0px;
  background-image: url(../images/pizza-menu-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: Comfortaa, cursive;
}

.jumbotron{
  background-color: silver;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 0px;
}
.jumbotron h1{
  font-family: 'Reenie Beanie', cursive;
  font-size:50px;
  font-weight: bolder;
  text-align: center;
  margin-top: -6%;
  font-stretch: extra-expanded;
}
.jumbotron p{
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    }
   
